html,
html,
body {
    background-color: #b0bec5;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

.New {
    background-color: #1976d2; /* blue */
}

.Acknowledged {
    background-color: #388e3c; /* green */
}

.Escalated {
    background-color: #d32f2f; /* red */
}

.History {
    background-color: #808080;
}

.report-details {
    margin: 4px 0 0;
}