html,
html,
body {
    background-color: #b0bec5;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

.New {
    background-color: #1976d2; /* blue */
}

.Acknowledged {
    background-color: #388e3c; /* green */
}

.Escalated {
    background-color: #d32f2f; /* red */
}

.History {
    background-color: #808080;
}

.report-details {
    margin: 4px 0 0;
}

.report-drop {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    borer-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    height:20%;
    top: 70%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}