<div class="modal-content">
    <h4 class="grey-text text-darken-1">Change Log</h4>
    <div ng-repeat="audit in auditTrail" class="row valign-wrapper">
        <div class="center-align col s2">
            <i class="large material-icons">account_circle</i>
            <p class="text-gray bold" style="bottom: 0; font-weight: bold;">{{audit.userAcf2Id}}</p>
        </div>
        <div class="card white col s3" >
            <div class="card-content black-text">
                <span class="card-title black-text"><strong>{{audit.processId}} | [{{audit.host}}]</strong></span>
                <div class="type-bar {{audit.oldStatus}}"></div>
                <p>{{audit.mainClass}}</p>
                <p>{{audit.processStateChange}}</p>
                <p class="right-align">{{audit.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
            </div>
        </div>
        <div class="col s3 center-align">
            <i class="large material-icons">trending_flat</i>
            <p style="font-weight: bold;">{{audit.timeStamp}}</p>
        </div>
        <div class="card white col s3" >
            <div class="card-content black-text">
                <span class="card-title black-text"><strong>{{audit.processId}} | [{{audit.host}}]</strong></span>
                <div class="type-bar {{audit.newStatus}}"></div>
                <p>{{audit.mainClass}}</p>
                <p>{{audit.processStateChange}}</p>
                <p class="right-align">{{audit.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
            </div>
        </div>
    </div>
</div>