
<!--<div class="container" ng-controller="DashboardCtrl">-->
    <!--Needed for moving Cards out of overflow containers -->
    <div ng-drag-clone="">
        <div class="card {{clonedData.type}} hoverable">
            <div class="card-content">
                <span class="card-title"><strong>{{clonedData.header}} | [{{clonedData.headerDetail}}]</strong></span>
                <div class="type-bar {{clonedData.status}}"></div>
                <p>{{clonedData.classPath}}</p>
                <p>{{clonedData.detail}}</p>
                <p class="right-align">{{clonedData.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
            </div>
        </div>
    </div>

    <!-- Column Headers -->
    <div class="row">
        <div class="col s3">
            <h5 class="New white-text text-darken-1" style="border-radius: 2px; padding: 5px;;" id="NewCol">New</h5>
            <div class="grey darken-1 horizline"></div>
        </div>
        <div class="col s3">
            <h5 class="Acknowledged white-text text-darken-1" style="border-radius: 2px; padding: 5px;" id="AcknowledgedCol">Acknowledged</h5>
            <div class="grey darken-1 horizline"></div>
        </div>
        <div class="col s3">
            <h5 class="Escalated white-text text-darken-1" style="border-radius: 2px; padding: 5px;" id="EscalatedCol">Escalated</h5>
            <div class="grey darken-1 horizline"></div>
        </div>
        <div class="col s3">
            <h5 class="History white-text text-darken-1" style="border-radius: 2px; padding: 5px;" id="HistoryCol">History</h5>
            <div class="grey darken-1 horizline"></div>
        </div>
    </div>

    <div class="row">

        <!-- Detail Drop Container -->
        <div class="report-drop valign-wrapper"  ng-drop="true" ng-drop-success="getReportDetails($data,$event)" ng-show="showDetailBox" id="detailDrop">
            <p class="white-text center-align">Drop Card for Details</p>
        </div>
        <!-- New Column -->
        <div ng-drop="true" ng-drop-success="onDropCompleteNew($data,$event)" class="card-container col s3" ng-drag-start="onDrag($data,$event)">
            <ul id="newList">

                <li class="animated bounceIn" ng-center-anchor="true" ng-repeat="card in allCards | filter: {status:status.name} | cardFilter: 'New'" id="New-{{card.header}}{{card.headerDetail}}{{card.classPath}}">

                    <div class="card {{card.type}} hoverable" ng-drag="true" ng-drag-data="card" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">
                        <div class="card-content">
                            <span class="card-title"><strong>{{card.header}} | [{{card.headerDetail}}]</strong></span>
                            <div class="type-bar blue"></div>
                            <p>{{card.classPath}}</p>
                            <p>{{card.detail}}</p>
                            <p class="right-align">{{card.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <!-- Acknowledged Column -->
        <div ng-drop="true" ng-drop-success="onDropCompleteAcknowledged($data,$event)" class="card-container col s3">
            <ul id="acknowledgedList">

                <li class="animated bounceIn" ng-center-anchor="true" ng-repeat="card in allCards | filter: {status:status.name} | cardFilter: 'Acknowledged'" id="Acknowledged-{{card.header}}{{card.headerDetail}}{{card.classPath}}">

                    <div class="card {{card.type}} hoverable" ng-drag="true" ng-drag-data="card" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">
                        <div class="card-content">
                            <span class="card-title"><strong>{{card.header}} | [{{card.headerDetail}}]</strong></span>
                            <div class="type-bar green"></div>
                            <p>{{card.classPath}}</p>
                            <p>{{card.detail}}</p>
                            <p class="right-align">{{card.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <!-- Escalated Column -->
        <div ng-drop="true" ng-drop-success="onDropCompleteEscalated($data,$event)" class="card-container col s3">
            <ul id="escalatedList">

                <li class="animated bounceIn" ng-center-anchor="true" ng-repeat="card in allCards | filter: {status:status.name} | cardFilter: 'Escalated'" id="Escalated-{{card.header}}{{card.headerDetail}}{{card.classPath}}">

                    <div class="card {{card.type}} hoverable" ng-drag="true" ng-drag-data="card" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">
                        <div class="card-content">
                            <span class="card-title"><strong>{{card.header}} | [{{card.headerDetail}}]</strong></span>
                            <div class="type-bar red"></div>
                            <p>{{card.classPath}}</p>
                            <p>{{card.detail}}</p>
                            <p class="right-align">{{card.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <!-- History Column -->
        <div ng-drop="true" ng-drop-success="onDropCompleteHistory($data,$event)" class="card-container col s3">
            <ul id="historyList">

                <li class="animated bounceIn" ng-center-anchor="true" ng-repeat="card in allCards | filter: {status:status.name} | cardFilter: 'History'" id="History-{{card.header}}{{card.headerDetail}}{{card.classPath}}">

                    <div class="card {{card.type}} hoverable" ng-drag="true" ng-drag-data="card" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">
                        <div class="card-content">
                            <span class="card-title"><strong>{{card.header}} | [{{card.headerDetail}}]</strong></span>
                            <div class="type-bar grey"></div>
                            <p>{{card.classPath}}</p>
                            <p>{{card.detail}}</p>
                            <p class="right-align">{{card.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>


    </div>

<!--</div>-->