<div class="menu-wrap">
    <nav class="menu" style="box-shadow:none">
        <div class="icon-list">
            <a><span style="margin-left:0px; font-size:1.05em">Monitored Hosts</span></a>
            <a class="tooltipped green-text" ng-mouseover="calculateTimeDiff(status)" data-position="right" data-delay="25" data-tooltip="Last Heartbeat: {{timeDiff}}s" ng-repeat="status in statuses" id="text-{{status.xwingId}}">
                <i class="material-icons" style="float:left">verified_user</i><span>{{status.host}}</span>
            </a>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
</div>