

<div ng-repeat="vader in vaders" class="row">
    <!--<div>-->
        <h3 class="Metric z-depth-2" style="padding:10px;border-radius:2px;display:inline-block;">{{vader.metricDetail}}</h3>
    <!--</div>-->
    <div class="grey darken-1 horizline" style="position:relative;"></div>
    <div ng-repeat="metric in allCards | metricFilter: vader" class="col s3" ng-click="getReportDetails(metric)">
        <div class="card {{metric.type}} hoverable">
            <div class="card-content">
                <span class="card-title"><strong>{{metric.header}} | [{{metric.headerDetail}}]</strong></span>
                <div class="type-bar {{metric.status}}"></div>
                <p>{{metric.classPath}}</p>
                <p>{{metric.detail}}</p>
                <p class="right-align">{{metric.timeStamp | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
            </div>
        </div>
    </div>
</div>