<!DOCTYPE html>
<html ng-app="Enforcer">
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Enforcer One</title>

        <link rel="stylesheet" href="assets/css/normalize.css">

        <!-- Materialize -->
        <link rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
        <link rel="stylesheet" href="assets/css/animations.css">
        <link rel="stylesheet" href="assets/css/menu_sideslide.css">

        <!-- Google Open Sans font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- JQuery/Materialize -->
        <script src="vendor/jquery.js"></script>
        <script src="vendor/jquery-ui.js"></script>
        <script src="vendor/materialize.js"></script>

        <!-- Angular JS -->
        <script src="vendor/angular.js"></script>
        <script src="vendor/angular-route.js"></script>
        <script src="vendor/angular-ui-router.js"></script>
        <script src="vendor/ngDraggable.js"></script>
        <script src="vendor/angular-resource.js"></script>
        <!-- Enforcer One -->
        <script src="src/enforcer/Enforcer.js"></script>
        <script src="src/enforcer/app/App.js"></script>
        <script src="src/enforcer/app/controllers/MainController.js"></script>
        <script src="src/enforcer/dashboard/Dashboard.js"></script>
        <!-- Controllers -->
        <script src="src/enforcer/dashboard/controllers/AuditCtrl.js"></script>
        <script src="src/enforcer/dashboard/controllers/DashboardCtrl.js"></script>
        <script src="src/enforcer/dashboard/controllers/StatusCtrl.js"></script>
        <script src="src/enforcer/dashboard/controllers/SettingsCtrl.js"></script>
        <!-- Services -->
        <script src="src/enforcer/dashboard/services/AuditService.js"></script>
        <script src="src/enforcer/dashboard/services/ReportService.js"></script>
        <script src="src/enforcer/dashboard/services/SettingsService.js"></script>
        <script src="src/enforcer/app/services/WebSocketService.js"></script>
        <!-- Directives -->
        <!--<script src="src/enforcer/dashboard/directives/Settings.js"></script>
        <script src="src/enforcer/dashboard/templates/settings.html"></script>-->

    </head>

    <!--<body style="background: url('assets/img/concrete_seamless.png'); background-repeat: repeat;">-->
    <body>

    <!-- Sidebar -->
    <div ng-controller="StatusCtrl">
        <!--<div ui-view="sidebar"></div>-->
        <div class="menu-wrap">
            <nav class="menu" style="box-shadow:none">
                <div class="icon-list">
                    <a><span style="margin-left:0px; font-size:1.05em">Monitored Hosts</span></a>
                    <a class="tooltipped green-text" ng-mouseover="calculateTimeDiff(status)" data-position="right" data-delay="25" data-tooltip="Last Heartbeat: {{timeDiff}}s" ng-repeat="status in statuses" id="text-{{status.xwingId}}">
                        <i class="material-icons" style="float:left">verified_user</i><span>{{status.host}}</span>
                    </a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>

        <div class="row">
            <div class="col s1"><button class="menu-button" id="open-button">Open Menu</button></div>
            <div class="col s4 offset-s4 center-align"><h3 class="grey-text text-darken-1">Enforcer One</h3></div>
        </div>
    </div>

    <!-- Main Dashboard Content -->
    <div class="content-wrap">

        <div ui-view></div>

        <!-- Settings button -->
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-controller="SettingsCtrl">
            <a class="btn-floating btn-large red darken-1">
                <i class="large material-icons">settings</i>
            </a>
            <ul>
                <li><a href="#modal3" class="btn-floating blue modal-trigger tooltipped" data-delay="25" data-tooltip="User Profile" data-position="left"><i class="material-icons">perm_identity</i></i></a></li>
                <li><a href="#modal2" class="btn-floating pink modal-trigger tooltipped" data-delay="25" data-tooltip="Change Log" data-position="left"><i class="material-icons">view_list</i></a></li>
                <li><a ng-click="openSettings()" class="btn-floating purple tooltipped" data-delay="25" data-tooltip="App Settings" data-position="left"><i class="material-icons">settings_applications</i></a></li>
                <li><a id="connectionStatus" class="btn-floating red tooltipped" data-delay="25" data-tooltip="Connection: {{connection}}" data-position="left"><i class="material-icons">settings_ethernet</i></a></li>
            </ul>
        </div>
    </div>

    <!-- App Settings Modal -->
    <div id="modal1" class="modal modal-fixed-footer" ng-controller="SettingsCtrl">
        <div class="modal-content">
            <h4 class="grey-text text-darken-1">Application Settings</h4>
            <div class="row"></div>
            <h5 class="grey-text text-darken-1" style="margin-left:4.165%;">Time Settings</h5>
            <div class="row">
                <div class="col s4 offset-s1">
                    <p class="range-field" ng-focus="blah()">
                        <label for="missing-time">Time for Missing Hosts (in seconds)</label>
                        <input type="range" id="missing-time" min="{{missingTime.floor}}" max="{{missingTime.ceil}}" ng-model="missingTime.temp"/>
                    </p>
                </div>
                <div class="col s4 offset-s1">
                    <p class="range-field">
                        <label for="statusScan-time">Time for Status Scan (in seconds)</label>
                        <input type="range" id="statusScan-time" min="{{statusScanTime.floor}}" max="{{statusScanTime.ceil}}" ng-model="statusScanTime.temp"/>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s4 offset-s1">
                    <p class="range-field">
                        <label for="dead-time">Time for Dead Hosts (in minutes)</label>
                        <input type="range" id="dead-time" min="{{deathTime.floor}}" max="{{deathTime.ceil}}" ng-model="deathTime.temp"/>
                    </p>
                </div>
                <div class="col s4 offset-s1">
                    <p class="range-field">
                        <label for="escalation-time">Time for Escalation (in minutes)</label>
                        <input type="range" id="escalation-time" min="{{escalationTime.floor}}" max="{{escalationTime.ceil}}" ng-model="escalationTime.temp"/>
                    </p>
                </div>
            </div>

            <h5 class="grey-text text-darken-1" style="margin-left:4.165%;">Other Settings</h5>
            <div class="row">
                <div class="col s4 offset-s1">
                    <label for="auto-escalation">Auto-Escalation</label>
                    <div class="switch" id="auto-escalation">
                        <label>
                            Off
                            <input ng-model="autoEscalation.temp" type="checkbox" i>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="col s4 offset-s1">
                    <label for="notification-toasts">Notification Toasts</label>
                    <div class="switch" id="notification-toasts">
                        <label>
                            Off
                            <input ng-model="notificationToasts.temp" type="checkbox" i>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a ng-click="restoreSettings()" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a ng-click="saveSettings()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
        </div>
    </div>

    <!-- Audit Trail Modal -->
    <div id="modal2" class="modal bottom-sheet">
        <div ui-view="auditTrail"></div>
    </div>

    <!-- User Profile Modal -->
    <div id="modal3" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="grey-text text-darken-1">User Profile</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
        </div>
    </div>


        <!--<div class="modal"></div>-->
        <script src="assets/js/classie.js"></script>
        <script src="assets/js/main.js"></script>
    </body>

</html>
